 <link rel="stylesheet" href="/css/footer.css">
 <!-- Footer part start -->
 <footer id="sticky-footer" class="flex-shrink-0 py-2 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Habit Tracker</small>
    </div>
  </footer>
  <!-- Footer part end -->